

@{
    ViewData["Title"] = "Index";
}

<h2>Insert path to process here</h2>
<form asp-controller="FileVersioning" asp-action="Results">
    <p>
        Path: <input type="text" name="path" />
        <input type="submit" value="Process" />
    </p>
</form>
<p></p>
