@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-controller="FileVersioning" asp-action="Index">
    <p>
        Path: <input type="text" name="path" />
        <input type="submit" value="Process" />
    </p>
</form>
<p></p>
